# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/

# Env/Secrets
.env
.env.*
!.env.example
*.pem
bot.db
.bot.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tooling caches
.pytest_cache/
